@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans", sans-serif;
    width: 100%;
}
.myactive{
    color: rgb(183,72,170);
}
.my_icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-wrap: nowrap;
    margin: 0 10px;
}
.n-logo{
    animation: slideRight 1s ease forwards;
}
.btn-content {
    animation: slideDown 3s ease-in-out forwards;
    animation-iteration-count: infinite;
}
.heading-text{
    animation: slideRight 1s ease forwards; 
}
ul li .home-item{
    animation: slideTop 1s all forwards;
    animation-delay: calc(.1s * var(--i));
    display: block;
}

@keyframes slideRight {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideDown {
    0%{
        transform: translateY(0%)
    }
    50%{
        transform: translateY(-24%)
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(200%)
    }
    100%{
        transform: translateY(0%);
    }
}